@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    display: flex;
    font-family: "Ubuntu";
    margin: 0;
    height: 100%;
    background-color: #0B0B0B;
    color: #F5F5F5
}

.body_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    justify-content: center;
}

.header {
    display:flex;
    flex-direction: column;
    font-family: "Cormorant Garamond";
    background-color: #0E3B43;
    color: #D4AF37;
    text-decoration: none;
}

.header h1 {
    font-size: 50px;
    letter-spacing: 4px;
}

.main {
    /*background-image:url(Imagens/bg.jpg);*/
    background-position: top center;
    background-repeat:no-repeat;
    background-size: cover;
}

