@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: #0b0b0be5;
    color: #F5F5F5;
    letter-spacing: 1px;
    overflow-x: hidden;
}

.body_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    min-height: 80px;
    height: auto;
    padding: 0px 40px;
    margin-bottom: 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: "Cormorant Garamond";
    background: linear-gradient(
    135deg,
    #06171D 0%,
    #0E3B43 50%,
    #1A4D57 100%
    );
    border-bottom: 1px solid rgba(212,175,55,0.25);
    color: #D4AF37;
}

.header h1 {
    font-size: 55px;
    font-style: italic;
    letter-spacing: 4px;
}

.nav_menu {
    font-size: 28px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: static;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color:#D4AF37;
    margin: 5px;
}

nav a:hover {
	background: linear-gradient(
	90deg,
	#b8860b 0%,
	#f0c550 35%,
	#fff2b0 50%,
	#f0c550 65%,
	#b8860b 100%
	);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 0 8px rgba(240,197,80,0.5), 0 0 16px rgba(240,197,80,0.3);
    transition: 0.3s ease;
}

.main {
    min-height: 100vh;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 24px;
    background: linear-gradient(
    rgba(0,0,0,0.72),
    rgba(0,0,0,0.72)
    ), url(/CSS/Imagens/Pirâmides.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#hero p {
    font-size: 3rem;
    color:#D8C3A5;
    text-shadow: 0 4px 20px rgba(0,0,0,0.8);
    margin-bottom: 100px;
}

#hero button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(220px, 40vw, 350px);
    margin-top: 100px;
    padding: 0px 8px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    color:#F5F5F5;
    font-size: 1.5rem;
    cursor: pointer;
}

#hero button:hover {
    background: linear-gradient(
    135deg,
    #d8b26e,
    #c67a3d
    );
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

#horus_eye {
    display: flex;
    width: 80px;
    height: 80px;
}

.main_content,
.about_egypt,
.about_egypt_content {
    width: 100%;
}

#description_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-bottom: 24px; 
    background: linear-gradient(
    rgba(0,0,0,0.72),
    rgba(0,0,0,0.72)
    ), url(/CSS/Imagens/esfinge.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.egypt_description_left {
    display: flex;
    justify-content: center;
    padding: 24px;
    margin: 40px;
    color:#F5F5F5;
    font-size: 1.8rem;
    line-height: 2.3rem;

    opacity: 0;
    transform: translateX(-100px);

    animation: slideLeft linear forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

.egypt_description_right {
    display: flex;
    justify-content: center;
    padding: 24px;
    margin: 40px;
    color:#F5F5F5;
    font-size: 1.8rem;
    line-height: 2.3rem;

    opacity: 0;
    transform: translateX(100px);

    animation: slideRight linear forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}


.carrossel h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #F5F5F5;
}   

.carrossel {
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    text-shadow: 0 4px 20px rgba(0,0,0,0.8);
    background: linear-gradient(
    135deg,
    #06171D 0%,
    #0E3B43 50%,
    #1A4D57 100%
    );
    overflow: hidden;
}

.slide_container {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: slide 60s linear infinite;
}

.slide {
    width: 400px;
    flex-shrink: 0;
    background-color: #111;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.slide img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.slide p {
    padding: 15px;
    color: #F5F5F5;
    font-size: 1rem;
    line-height: 1.5;
}

#pontos-turisticos {

    padding: 50px 60px;
    margin: 30px 0;

    background: linear-gradient(
        180deg,
        #071E26,
        #0E3B43
    );
}

#pontos-turisticos h2 {

    text-align: center;

    font-size: 42px;

    font-family: "Ubuntu", sans-serif;

    color: #f5f5f5;

    margin-bottom: 60px;
}

.lista-destinos {

    list-style: none;

    display: flex;

    justify-content: center;

    gap: 35px;

    flex-wrap: wrap;

    padding: 0;
}

.destino-card {

    width: 350px;

    overflow: hidden;

    border-radius: 22px;

    background: rgba(255,255,255,0.05);

    backdrop-filter: blur(10px);

    border: 1px solid rgba(212,175,55,0.15);

    box-shadow:
        0 10px 30px rgba(0,0,0,0.35);

    transition: 0.35s ease;
}

.destino-card:hover {

    transform: translateY(-10px);

    box-shadow:
        0 18px 35px rgba(212,175,55,0.18);
}

.destino-card img {

    width: 100%;

    height: 230px;

    object-fit: cover;
}

.conteudo {

    padding: 28px;
}

.conteudo h3 {

    font-size: 28px;

    color: #D4AF37;

    font-family: "Ubuntu", sans-serif;

    margin-bottom: 18px;
}

.conteudo p {

    color: #F5F5F5;

    line-height: 1.7;

    font-size: 16px;
}

#pacotes {
    padding: 50px 60px;
    margin-bottom: 24px;
    background: linear-gradient(
        180deg,
        #071E26,
        #0E3B43
    );
    text-align: center;
}

#pacotes h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 42px;
    color: #F5F5F5;
    margin-bottom: 60px;
}

.lista-pacotes {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding: 0;
}

.card {
    width: 320px;
    padding: 35px;
    border-radius: 22px;
    background: linear-gradient(
        145deg,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.02)
    );
    backdrop-filter: blur(14px);
    border: 1px solid rgba(212,175,55,0.18);
    box-shadow: 0 12px 35px rgba(0,0,0,0.35);
    transition: .35s ease;
}

.card:hover {
    transform: translateY(-12px);
    box-shadow:
        0 18px 40px rgba(212,175,55,0.18);
}

.card h3 {
    font-family: "Ubuntu", serif;
    color: #D4AF37;
    font-size: 28px;
    margin-bottom: 10px;
}

.destino {
    color: #D8C3A5;
    font-weight: 600;
    margin-bottom: 20px;
}

.descricao {
    color: #f5f5f5;
    line-height: 1.6;
    margin-bottom: 25px;
}

.preco {
    display: block;
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 25px;
}

.card button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(
        135deg,
        #b8860b,
        #f0c550,
        #fff2b0
    );
    color: #071E26;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
}

.card button:hover {
    transform: scale(1.05);
}

.destaque {
    border: 1px solid rgba(240,197,80,0.45);
    box-shadow:
        0 0 25px rgba(240,197,80,0.15);
}

.destino_card_img {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 250px;
    border-radius: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 20px;
    background: linear-gradient(
    135deg,
    #06171D 0%,
    #0E3B43 50%,
    #1A4D57 100%
    );
    border-bottom: 1px solid rgba(212,175,55,0.25);
}

.form h3 {
    align-self: flex-start;
    color: white;
    font-size: 42px;
    padding-top: 50px;
    padding-left: 462px;
    margin-bottom: 15px;
}

form {
    display: flex;
    justify-content: center;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffffe5;
    font-size: 1rem;
    flex: 1;
}

input[type="email"] {
    flex-basis: 100%;
}

textarea {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffffe5;
    height: 200px;
    width: 100%;
    font-size: 1rem;
}

form button {
    width: 15%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 30px;
    background-color: rgb(212, 175, 55);;
    color: #071E26;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s ease;
}

form button:hover {
    transform: scale(1.05);
}

.footer {
    background: linear-gradient(
        180deg,
        #06171D,
        #071E26,
        #020607
    );
    color: #F5F5F5;
    padding-top: 60px;
    border-top: 1px solid rgba(212,175,55,0.2);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 0 80px 50px;
    flex-wrap: wrap;
}

.footer-brand {
    max-width: 380px;
}

.footer-brand h2 {
    font-family: "Cormorant Garamond";
    font-size: 42px;
    color: #D4AF37;
    margin-bottom: 20px;
    font-style: italic;
}

.footer-brand p {
    line-height: 1.8;
    color: #D8C3A5;
}

.footer-links {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-column h3 {
    color: #D4AF37;
    margin-bottom: 10px;
    font-size: 22px;
}

.footer-column a {
    text-decoration: none;
    color: #F5F5F5;
    transition: 0.3s ease;
}

.footer-column a:hover {
    color: #D4AF37;
    transform: translateX(5px);
}

.footer-column p {
    margin: 0;
    color: #D8C3A5;
    line-height: 1.6;
}

.footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.08);
    text-align: center;
    padding: 25px 20px;
    color: #999;
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
}

/* animação */

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-420px * 6));
    }
}

@keyframes slideLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1024px) {

    .header {
        height: auto;
        padding: 20px;
    }

    

    .nav_menu {
        position: static;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.3rem;
        gap: 10px;
        margin-top: 15px;
    }

    #hero p {
        font-size: 2.3rem;
        text-align: center;
        padding: 0 20px;
    }

    #description_container {
        height: auto;
        padding: 60px 20px;
    }

    .egypt_description_left,
    .egypt_description_right {
        font-size: 1.4rem;
        line-height: 2rem;
        margin: 20px;
    }

    .form h3 {
        padding-left: 0;
        align-self: center;
    }

    form {
        padding: 30px;
    }

    form button {
        width: 200px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        justify-content: center;
    }
}

@media (max-width: 768px) {

    .header header {
        flex-direction: column;
        gap: 15px;
    }    
    .header h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .nav_menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.1rem;
    }

    #hero {
        height: 80vh;
    }

    #hero p {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 50px;
    }

    #hero button {
        width: 250px;
        font-size: 1.1rem;
    }

    #horus_eye {
        width: 60px;
        height: 60px;
    }

    .carrossel {
        padding: 20px;
    }

    .slide {
        width: 280px;
    }

    .slide img {
        height: 180px;
    }

    #pontos-turisticos,
    #pacotes {
        padding: 40px 20px;
    }

    #pontos-turisticos h2,
    #pacotes h2 {
        font-size: 2rem;
    }

    .destino-card,
    .card {
        width: 100%;
        max-width: 350px;
    }

    .egypt_description_left,
    .egypt_description_right {
        font-size: 1.1rem;
        line-height: 1.8rem;
        margin: 10px;
        padding: 10px;
    }

    form {
        padding: 20px;
        flex-direction: column;
    }

    input,
    textarea {
        width: 100%;
        box-sizing: border-box;
    }

    form button {
        width: 100%;
    }

    .footer-container {
        padding: 20px;
    }

    .footer-links {
        flex-direction: column;
        gap: 30px;
    }

    .footer-column {
        align-items: center;
    }
}

@media (max-width: 480px) {

    .header {
        padding: 15px;
    }

    .header h1 {
        font-size: 2rem;
    }

    #hero p {
        font-size: 1.4rem;
    }

    #hero button {
        width: 220px;
        font-size: 1rem;
    }

    .carrossel h3 {
        font-size: 1.5rem;
    }

    #pontos-turisticos h2,
    #pacotes h2,
    .form h3 {
        font-size: 1.7rem;
    }

    .footer-brand h2 {
        font-size: 2rem;
    }

    .footer-brand,
    .footer-column {
        text-align: center;
    }
}